<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PetStore 🐶🐱🏪</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A server implementing the PetStoreService API - see https://github.com/stefanvanburen/petstore.">
  </head>
  <body>
    {{ . }}
  </body>
</html>
